main > .section.action-strip-container {
    background-color: var(--wds2-colour-nissanwhite);
    overflow: auto;
    padding: var(--wds2-grid-xl-padding) var(--wds2-grid-s-padding);
}

main > .section {
    margin: 0;
}

main > .section.action-strip-container.no-bg {
    background-color: var(--wds2-colour-validation-background-info-onlight);
}

main > .section > div.action-strip-container {
  padding: 0;
  max-width: 1500px;
}

.flex-container {
    display: flex;
    gap: var(--wds2-radio-element-margin);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.action-strip-title {
    font-size: var(--wds2-type-subtitle-m-fontSize);
}

.action-strip-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.action-strip-wrapper .container {
    width: 100%;
}

wds-icon {
    margin-right: var(--wds2-type-disclaimer-regular-fontSize);
}

.action-strip-icon-container {
    border-bottom: 1px solid var(--wds2-colour-keyline-onlight);
    width: 100%;
    padding-bottom: var(--wds2-radio-element-margin);
}

@media (min-width: 768px) {
    main > .section.action-strip-container {
        padding: 60px var(--wds2-grid-xl-padding);
    }

    .flex-container {
        display: flex;
        gap: var(--wds2-grid-xl-padding);
        justify-content: center;
        align-items: center;
        flex-flow: row nowrap;
    }

    .action-strip-icon-container {
        border: none;
        width: initial;
        padding-bottom: 0;
    }
}

@media (min-width: 1024px) {
    main > .section.action-strip-container {
        padding: 60px var(--wds2-grid-l-margin);
    }
}
