:focus-visible {
    outline: 3px solid var(--wds2-colour-action-focus-onlight);
    border-radius: 3px;
}

main > .section.action-strip-container {
    background-color: var(--wds2-colour-validation-background-info-onlight);
    overflow: auto;
}

main > .section {
    margin: 0;
}

main > .section.action-strip-container.no-bg {
    background-color: var(--wds2-colour-nissanwhite);
}

main > .section > div.action-strip-container {
    padding: 0;
    max-width: 1500px;
}

.section.action-strip-container .container {
    margin: var(--wds2-grid-m-margin) var(--wds2-grid-s-margin);
}

.flex-container {
    display: flex;
    gap: var(--wds2-radio-element-margin);
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.action-strip-wrapper {
    margin: 0 !important;
    padding: 0 !important;
    max-width: none !important;
}

.actionstrip__cta wds-icon {
    margin-right: 12px;
}

.actionstrip__cta wds-button:hover {
    color: var(--wds2-colour-action-hover-onlight);
}

.actionstrip__cta wds-button:focus-visible,
.action-strip-wrapper:focus-visible,
.action-strip-icon-container:focus-visible {
    outline: 3px solid var(--wds2-colour-action-focus-onlight);
    border-radius: 3px;
}

.actionstrip__cta {
   line-height: 0;
}

.action-strip-icon-container {
    border-bottom: 1px solid var(--wds2-colour-keyline-onlight);
    width: 100%;
    padding-bottom: var(--wds2-radio-element-margin);
}

.action-strip-icon-container:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}

@media (min-width: 768px) {
    .section.action-strip-container .container {
        margin: 60px var(--wds2-grid-m-margin);
    }

    .flex-container {
        display: flex;
        gap: 24px var(--wds2-grid-xl-padding);
        justify-content: center;
        align-items: center;
        flex-flow: row wrap;
    }

    .action-strip-icon-container {
        border: none;
        width: initial;
        padding-bottom: 0;
    }
}

@media (min-width: 1024px) {
    .section.action-strip-container .container {
        margin: 60px var(--wds2-grid-l-margin);
    }
}