main > .section.action-stripe-container {
  background-color: var(--wds2-colour-nissanwhite);
  overflow: auto;
}

main > .section.action-stripe-container.no-bg {
  background-color: var(--wds2-colour-validation-background-info-onlight);
}

main > .section > div.action-stripe-container {
  padding: 0;
  max-width: 1500px;
  /* display: flow-root; */
}

.action-strip-title {
  font-size: 16px;
}

.action-stripe-wrapper {
  margin: 0 !important;
  padding: 0 !important;
  max-width: none !important;
}

.action-stripe-wrapper .container {
  width: 100%;
}