.helios.nissan-eds-main-header .c_010D .burger-menu-wrapper .personal-showroom-container > a::before {
  font-family: var(--wds2-icon-fontFamily) !important;
}

@media (width >= 900px) {
  .helios.nissan-eds-main-header .menu .primary li.has-meganav > a {
    cursor: pointer;
    font-family: var(--wds2-type-body-regular-s-fontFamily);
  }

  .helios.nissan-eds-main-header .c_010D:not(.is-menu-wrapping).c_010D-logo-small .menu {
    border-bottom: 1px solid var(--wds2-colour-keyline-onlight);
    padding-bottom: var(--wds2-type-disclaimer-light-fontSize);
  }
}