.helios.nissan-eds-main-header .c_010D .burger-menu-wrapper .personal-showroom-container > a::before {
  font-family: var(--wds2-icon-fontFamily) !important;
}

@media (width >= 900px) {
  .helios.nissan-eds-main-header .menu .primary li.has-meganav > a,
  .helios.nissan-eds-main-header .c_010D:not(.is-menu-wrapping) .menu > ul.primary > li > a {
    cursor: pointer;
    font-family: var(--wds2-type-body-regular-s-fontFamily);
  }

  .helios.nissan-eds-main-header .c_010D .wrapper,
  .helios.nissan-eds-main-header .c_010D-secondary-nav .wrapper {
    max-height: 0;
  }
}