.teaser__container {
  display: flex;
  flex-direction: column;
}

.teaser__image {
  width: 100%;
}

.mobile-title {
  display: block;
  text-align: left;
  padding-bottom: 24px;
}

.desktop-title {
  display: none;
}

.teaser__image img {
  width: 100%;
}

.teaser__text {
  width: 100%;
}

.teaser__title {
  font-size: 20px;
}

.teaser__title p {
  margin-bottom: 0;
  margin-top: 0;
}

.teaser__description p {
  margin-top: 0;
  padding-top: 20px;
  margin-bottom: 0;
}

.teaser__cta {
  padding-top: 24px;
}

.teaser__cta-button {
  color: black !important;
  text-decoration: underline !important;
  text-underline-offset: 8px;
}

/* Tablet Screen  */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .teaser__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .teaser__image {
      width: 48%;
  }

  .teaser__text {
      width: 48%;
      text-align: left;
      padding-left: 24px;
      padding-right: 24px;
  }

  .teaser__cta {
      text-align: left;
  }
  .mobile-title {
      display: none;
  }

  .desktop-title {
      display: block;
  }
}

/* Desktop Screen  */
@media screen and (min-width: 1024px) and (max-width: 1499px) {
  .teaser__container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  }

  .varianttwo__container {
    display: flex;
    gap: 48px;
    justify-content: space-between;
  }

  .varianttwo__container .teaser__image {
    width: 100%;
  }

  .teaser__image {
      width: 50%;
      line-height: 0;
  }

  .variantone__container .teaser__text {
      width: 50%;
      text-align: left;
      padding-left: 24px;
      padding-right: 24px;
  }
  .mobile-title {
      display: none;
  }

  .desktop-title {
      display: block;
  }
}