:focus-visible {
  outline: 3px solid var(--wds2-colour-action-focus-onlight);
  border-radius: 3px;
}

main > .section.sticky-navigation-container {
  margin: auto;
  position: sticky;
  top: 0;
  z-index: 100;
  border-bottom: 1px solid var(--wds2-colour-keyline-onlight);
}

main > .section > div.sticky-navigation-wrapper {
 max-width: none;
 padding: 0;
}

.sticky-nav-comp .sticky-nav {
  padding: 16px var(--wds2-radio-element-margin);
  background-color: var(--wds2-colour-nissanwhite);
}

.sticky-nav-comp .sticky-nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sticky-nav-comp .sticky-nav__car-name {
  color: var(--wds2-colour-nissanblack);
  text-align: center;
}

.sticky-nav-comp .sticky-nav__list {
  display: flex;
  list-style: none;
  gap: 10px;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.sticky-nav-comp .sticky-nav__link {
  text-decoration: none;
  color: var(--wds2-colour-nissanblack);
  -webkit-tap-highlight-color: transparent;
}

.sticky-nav-comp .sticky-nav__link:hover {
  color: var(--wds2-colour-action-hover-onlight);
}

.sticky-nav-comp .sticky-nav__car-name-wrapper {
  display: flex;
  align-items: center;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.sticky-nav-comp .sticky-nav__icon-wrapper {
  width: 24px;
  height: 24px;
  border-radius: 999px;
  display: flex;
  align-items: center;
  background: var(--wds2-colour-nissangrey);
  justify-content: center;
}

.sticky-nav-comp .sticky-nav__icon-wrapper.active {
  border: 2px solid var(--wds2-colour-keyline-onlight);
  background: var(--wds2-colour-nissanwhite);
  justify-content: center;
}

.sticky-nav-comp .sticky-nav__dropdown-icon {
  font-size: 8px;
  display: flex;
  transition: transform 300ms linear;
}

.sticky-nav-comp .sticky-nav__dropdown-icon.active {
  transform: rotate(-180deg);
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-60px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(-60px);
  }
}

.sticky-nav-comp .sticky-nav__dropdown--mobile {
  padding: 16px var(--wds2-grid-s-padding) var(--wds2-grid-s-padding);
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
  border-bottom: 1px solid var(--wds2-colour-keyline-onlight);
  background: var(--wds2-colour-background-grey);
  position: absolute;
  width: -webkit-fill-available;
  z-index: 1000;
  right: 0;
  top: 100%;
  opacity: 0;
  display: none;
  animation: fade-out 300ms cubic-bezier(0.77, 0, 0.18, 1);
}

.sticky-nav-comp .sticky-nav__dropdown--mobile.active {
  opacity: 1;
  display: block;
  pointer-events: auto;
  animation: fade-in 300ms cubic-bezier(0.77, 0, 0.18, 1);
}

@media (min-width: 375px) {
  .sticky-nav-comp .sticky-nav__icon-wrapper {
    margin-right: 8px;
  }
}

@media (min-width: 1024px) {
  main > .section.sticky-navigation-container {
    margin-top: 20px;
  }

  .sticky-nav-comp .sticky-nav__link:active {
    padding: 0 0 4px;
    border-bottom: 1px solid black;
  }

  .sticky-nav-comp .sticky-nav__icon-wrapper {
    display: none;
  }

  .sticky-nav-comp .sticky-nav__car-name-wrapper {
    cursor: auto;
  }

  .sticky-nav-comp .sticky-nav {
    padding: 16px var(--wds2-grid-l-padding);
  }

  .sticky-nav-comp .sticky-nav__list {
    flex-direction: row;
    gap: 24px;
  }

  .sticky-nav-comp .sticky-nav__overflow-li {
    display: flex;
    align-items: flex-end;
  }

  .sticky-nav-comp .sticky-nav__overflow-option {
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 4px;
    background: transparent;
    position: relative;
    -webkit-tap-highlight-color: transparent;
    height: 27px;
  }

  .sticky-nav-comp .sticky-nav__overflow-option::before {
    content: "";
    position: absolute;
    inset: 0 -8px -3px;
    border-radius: 4px;
    background: transparent;
    z-index: 0;
    display: block;
  }

  .sticky-nav-comp .sticky-nav__overflow-option:focus-visible::before {
    outline: 3px solid var(--wds2-colour-action-focus-onlight);
    border-radius: 3px;
    z-index: 1;
  }

  .sticky-nav-comp .sticky-nav__overflow-option:focus-visible {
    outline: none;
  }

  .sticky-nav-comp .sticky-nav__overflow-title {
    color: var(--wds2-colour-nissanblack);
    z-index: 1;
  }

  .sticky-nav-comp .sticky-nav__overflow-dropdown-icon {
    font-size: 12px;
    margin-left: 8px;
    display: inline-block;
    transition: transform 300ms linear;
    z-index: 1;
    margin-top: 5px;
  }

  .sticky-nav-comp .sticky-nav__overflow-dropdown-icon.active {
    transform: rotate(-180deg);
    margin-top: 0;
  }

  .sticky-nav-comp .sticky-nav__overflow-option:hover::before,
  .sticky-nav__overflow-option.active::before {
    background: var(--wds2-colour-background-grey);
  }

  .sticky-nav-comp .sticky-nav__overflow-option:hover .sticky-nav__overflow-title,
  .sticky-nav__overflow-option:hover .sticky-nav__overflow-dropdown-icon {
    color: var(--wds2-colour-action-hover-onlight);
  }

  .sticky-nav-comp .sticky-nav__overflow-dropdown {
    padding: 16px 24px 16px var(--wds2-grid-s-padding);
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    top: 53px;
    border-radius: 4px;
    border: 0 solid var(--wds2-colour-keyline-onlight);
    background: var(--wds2-colour-nissanwhite);
    opacity: 0;
    pointer-events: none;
    animation: fade-out 300ms cubic-bezier(0.77, 0, 0.18, 1);
    box-shadow: 0 4px 16px 0 rgba(0 0 0 / 16%);
    min-width: 140px;
    display: none;
  }

  .sticky-nav-comp .sticky-nav__overflow-dropdown.active {
    opacity: 1;
    animation: fade-in 300ms cubic-bezier(0.77, 0, 0.18, 1);
    pointer-events: auto;
    display: flex;
  }

  .sticky-nav-comp .sticky-nav__overflow-option-list {
    display: flex;
    list-style: none;
    gap: 4px;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}